In [1]:
import pandas as pd
import gspread
from gspread_dataframe import set_with_dataframe

from path_data.paths import ALL_PQT

In [2]:
df = pd.read_parquet(ALL_PQT)
df

,month,station,total weekday,total weekend,total sat,total sun,total holiday,avg weekday,avg weekend,avg sat,avg sun,avg holiday,weekdays,weekends,sats,suns,holidays
0,2012-01,Christopher Street,85113,22993,10830,12163,4081,4255.650000,2554.777778,2707.50,2432.60,2040.5,20,9,4,5,2
1,2012-01,9th Street,89658,31958,14780,17178,5066,4482.900000,3550.888889,3695.00,3435.60,2533.0,20,9,4,5,2
2,2012-01,14th Street,175369,45032,21384,23648,8082,8768.450000,5003.555556,5346.00,4729.60,4041.0,20,9,4,5,2
3,2012-01,23rd Street,166895,24511,11698,12813,6191,8344.750000,2723.444444,2924.50,2562.60,3095.5,20,9,4,5,2
4,2012-01,33rd Street,695937,152976,69398,83578,37254,34796.850000,16997.333333,17349.50,16715.60,18627.0,20,9,4,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2075,2025-04,Journal Square,520909,101497,56121,45376,0,23677.681818,12687.125000,14030.25,11344.00,NaN,22,8,4,4,0
2076,2025-04,Grove Street,392319,80080,45496,34584,0,17832.681818,10010.000000,11374.00,8646.00,NaN,22,8,4,4,0
2077,2025-04,Exchange Place,275041,44269,24555,19714,0,12501.863636,5533.625000,6138.75,4928.50,NaN,22,8,4,4,0
2078,2025-04,Newport,289148,42478,23421,19057,0,13143.090909,5309.750000,5855.25,4764.25,NaN,22,8,4,4,0
2079,2025-04,Hoboken,397101,69871,40275,29596,0,18050.045455,8733.875000,10068.75,7399.00,NaN,22,8,4,4,0

In [24]:
creds = 'gcp/path-svcacct.json'
title = 'PATH ridership data'
sheet = 'Months'

In [26]:
gc = gspread.service_account(filename=creds)
ss = gc.open(title)
ss

In [42]:
set_with_dataframe(ss.sheet1, df, include_index=False)

In [32]:
s = ss.sheet1
s

In [41]:
df.columns = [ c.title() for c in df.columns ]

In [43]:
s.format(
    '1:1',
    {
        'textFormat': { 'bold': True },
        'horizontalAlignment': 'RIGHT',
    }
)

{'spreadsheetId': '1HMrVNcRzYryUtI5mnPc5K5hrt2UT1w78MwzexXinqys',
 'replies': [{}]}

In [39]:
s.format(
    'A:B',
    {
        'textFormat': { 'bold': True },
        'horizontalAlignment': 'RIGHT',
    }
)

{'spreadsheetId': '1HMrVNcRzYryUtI5mnPc5K5hrt2UT1w78MwzexXinqys',
 'replies': [{}]}

In [45]:
df.dtypes

Month             object
Station           object
Total Weekday      int32
Total Weekend      int32
Total Sat          int32
Total Sun          int32
Total Holiday      int32
Avg Weekday      float64
Avg Weekend      float64
Avg Sat          float64
Avg Sun          float64
Avg Holiday      float64
Weekdays           int32
Weekends           int32
Sats               int32
Suns               int32
Holidays           int32
dtype: object

In [47]:
s.format(
    'C:Q',
    { "numberFormat": {
        "type": "NUMBER",
        "pattern": "#,##0"
    }}
)

{'spreadsheetId': '1HMrVNcRzYryUtI5mnPc5K5hrt2UT1w78MwzexXinqys',
 'replies': [{}]}

In [37]:
s.freeze(rows=1, cols=2)

{'spreadsheetId': '1HMrVNcRzYryUtI5mnPc5K5hrt2UT1w78MwzexXinqys',
 'replies': [{}]}